<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Failure</title>
  <link rel="stylesheet" href="https://snowflake.torproject.org/index.css" />
</head>

<body>
  <header id="header">
    <a href="https://www.torproject.org/">
      <img src="https://snowflake.torproject.org/tor-logo@2x.png" alt="Tor" height="50" />
    </a>
  </header>

  <section id="content">
    <h1>Your Tor bridge is unreachable</h1>
    <p>Here's what you should do:</p>
    <ol>
      <li>Take a look at our bridge setup guides.</li>
      <li>Make sure that the port of your bridge is reachable.</li>
    </ol>
    If you need help, send an email to tor-relays@lists.torproject.org.
  </section>
</body>

</html>
