<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Success!</title>
  <link rel="stylesheet" href="https://snowflake.torproject.org/index.css" />
</head>

<body>
  <header id="header">
    <a href="https://www.torproject.org/">
      <img src="https://snowflake.torproject.org/tor-logo@2x.png" alt="Tor" height="50" />
    </a>
  </header>

  <section id="content">
    <form method="POST" action="test">
      <h1>Your Tor bridge is reachable!</h1>
  </section>
</body>

</html>
